/* .box3{
    /* width: 150px;
    height:200px; */
    /* background-color: green; */
    /* opacity: .5; */
    /* float: right;     */
    /* position: fixed; */
/* } * */
/* table{
    border-collapse: collapse;
}
td{
    border:  1px solid steelblue;
    vertical-align: center;
} */
/* .box{
    /* /* width: 100px;
    height: 400px; */
    /* background-color: black; */ 
    /* transform: translate(100px,50px); */
    /* transform: rotate(180deg); */
    /* transform: scale(1); */
    /* transition: 4s ease; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
/* } */ 



.box3{
    background-color: aqua;
    height: 150px;
    width: 1300px;
    position: fixed;
    top: 0;
    left: 0;
}