.box{
    width: 100%;
    height: 10vh;
    background-color: black;
    /* position: fixed; */
    position: relative;
    top: 10px;
   
}
/* .box1{
    background-color: antiquewhite;
    width: 500px;
    height: 8vh;
    position: absolute;
    top: 0px;
    left: 0px;
} */
.box1{
    background-color: antiquewhite;
    width: 100px;
    height: 8vh;
    /* border: 2px solid red; */
}
.boxes{
    height: 100vh;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;

}
